/* CSS Clientes */

.titulo{
    background-color: $azuloscuro;
    color: $blanco;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 24px;
    padding-bottom: 30px;
    font-size: 16px;
}

.slider{
    height: 100px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: auto;
    background-color: $azuloscuro;
    padding-bottom: 50px;
}

.slider .slider-track{
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
}

.slider .slide {
        height: 100px;
        width: 150px;
        
        & img {
            border-radius: 100%;
        }
}

// Card1
.card{
    grid-area: card1;
    position: relative;
    width: 250px;
    height: 250px;
    color: $blanco;
    background: url(../assets/images/cliente1.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;

    &__Content{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: $azuloscuro;
        border-top-left-radius: 20px;
        transform: translateY(70px);
        transition: transform .25s;
    
        &::before {
            content: '';
            position: absolute;
            top: -47px;
            right: -35px;
            width: 85px;
            height: 120px;
            transform: rotate(-120deg);
            border-radius: 100%;
            box-shadow: inset 48px 48px $azuloscuro;
        }
    }

    &__Title{
        color: $blanco;
        line-height: 15px;
    }

    &__Subtitle{
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
    }

    &__Description{
        font-size: 14px;
        opacity: 0;
        transition: opacity .5s;
        width: 90%;
    }
}

.card:hover .card__Content{
    transform: translateY(0);
}

.card:hover .card__Description{
    opacity: 1;
    transition-delay: .25s;
}

// Fin Card 1

// Card2
.card2{
    grid-area: card2;
    position: relative;
    width: 250px;
    height: 250px;
    color: $blanco;
    background: url(../assets/images/cliente2.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;

}

.card2:hover .card__Content{
    transform: translateY(0);
}

.card2:hover .card__Description{
    opacity: 1;
    transition-delay: .25s;
}

// Fin Card 2

// Card 3
.card3{
    grid-area: card3;
    position: relative;
    width: 250px;
    height: 250px;
    color: $blanco;
    background: url(../assets/images/cliente3.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.card3:hover .card__Content{
    transform: translateY(0);
}

.card3:hover .card__Description{
    opacity: 1;
    transition-delay: .25s;
}

// Fin Card 3

// Card 4

.card4 {
    grid-area: card4;
    position: relative;
    width: 250px;
    height: 250px;
    color: $blanco;
    background: url(../assets/images/cliente4.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 40px;
}

.card4:hover .card__Content{
    transform: translateY(0);
}

.card4:hover .card__Description{
    opacity: 1;
    transition-delay: .25s;
}

// Fin Card 4

// Card 5

.card5 {
    grid-area: card5;
    position: relative;
    width: 250px;
    height: 250px;
    color: $blanco;
    background: url(../assets/images/cliente5.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 40px;
}

.card5:hover .card__Content{
    transform: translateY(0);
}

.card5:hover .card__Description{
    opacity: 1;
    transition-delay: .25s;
}

// Fin Card 5

// Card 6

.card6 {
    grid-area: card6;
    position: relative;
    width: 250px;
    height: 250px;
    color: $blanco;
    background: url(../assets/images/cliente6.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 40px;
}

.card6:hover .card__Content{
    transform: translateY(0);
}

.card6:hover .card__Description{
    opacity: 1;
    transition-delay: .25s;
}

// Fin Card 6



.gridClientes {
    margin: auto;
    background-color: $blanco; /*Color de fondo*/
    width: 70%; /*Tamaño del cuadro contenedor*/
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "subtit subtit subtit"
    "card1 card2 card3"
    "card4 card5 card6"
    "boton boton boton";

    &__SubTitulo{
        grid-area: subtit;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        font-size: 15px;
        margin-bottom: 50px
    }

    &__Boton{
        grid-area: boton;
        margin-top: 40px;
    }

    & button {
        text-align: center;
        position: relative;
        background: $azulclaro;
        color: #ffffff;
        border-radius: 3px;
        border: 1px solid $azulclaro;
        border-color: $azulclaro;
        width: 120px;
        height: 40px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover{
            transition: all 1s;
            background-color:$azulclarohover;
            color: $blanco
        }
    }



}


/* Fin CSS Clientes */