/* CSS Clientes */

.gridClientes {
    margin: auto;
    background-color: rgb(255, 255, 255); /*Color de fondo*/
    width: 100%; /*Tamaño del cuadro contenedor*/
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(9, auto);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "titulo titulo"
    "imagenes imagenes"
    "subtit subtit"
    "foto1 texto1"
    "foto2 texto2"
    "foto3 texto3"
    "foto4 texto4"
    "foto5 texto5"
    "boton boton";

    &__Titulo{
        grid-area: titulo;
        background-color: #030335;
        color: white;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        font-size: 30px;
    }

    &__Marcas{
        grid-area: imagenes;
        background-color: #030335;
        color: white;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__Imagenes{
        border-radius: 50%;
        background-color: #030335;
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-right: 50px;
        border: white;
        border-width: 8px;
        border-style: solid;
    }

    &__Imagenes-Apple{
        border-radius: 50%;
        background-color: #030335;
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-right: 50px;
        border: white;
        border-width: 8px;
        border-style: solid;
        margin-left: 60px;
    }

    &__SubTitulo{
        grid-area: subtit;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        font-size: 30px;
    }

    &__FotoYTexto1{
        @extend .girdClientesFYT;
        grid-area: foto1;
        margin-top: 50px;
    }

    &__ImagenesRedondas{
        border-radius: 50%;
    }

    &__EspacioIMGTXT{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &__Texto1{
        @include gridServiciosT();
        grid-area: texto1;
    }

    &__FotoYTexto2{
        @extend .girdClientesFYT;
        grid-area: foto2;
    }

    &__Texto2{
        @include gridServiciosT();
        grid-area: texto2;
    }

    &__FotoYTexto3{
        @extend .girdClientesFYT;
        grid-area: foto3;
    }

    &__Texto3{
        @include gridServiciosT();
        grid-area: texto3;
    }

    &__FotoYTexto4{
        @extend .girdClientesFYT;
        grid-area: foto4;
    }

    &__Texto4{
        @include gridServiciosT();
        grid-area: texto4;
    }

    &__FotoYTexto5{
        @extend .girdClientesFYT;
        grid-area: foto5;
    }

    &__Texto5{
        @include gridServiciosT();
        grid-area: texto5;
    }

    &__Boton{
        grid-area: boton;
    }

    & button {
        text-align: center;
        position: relative;
        background: #030335;
        color: #ffffff;
        width: 100px;
        height: 40px;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.2), 2px 2px 6px 0 rgba(61, 59, 59, 0.8);
        margin-top: 100px;

        &:hover{
            transition: 1s;
            box-shadow: inset -2px -2px 6px 0 rgba(255, 255, 255, 0.2), inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8);
            background-color: #3a3881;
            color: #ffffff;
        }
    }



}


/* Fin CSS Clientes */