/* CSS Contacto */

.contactoH1{
    color: $blanco;
    position: absolute; 
    margin-top: 300px;
    margin-left: 23%;
    font-size: 50px;
}

.contactoImagen{
    height: 500px;
    width: 100%;
}

.gridContacto {
    margin: auto;
    background-color: $blanco; /*Color de fondo*/
    width: 70%; /*Tamaño del cuadro contenedor*/
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, auto);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "mapa form";

    &__Mapa{
        grid-area: mapa;
        margin-top: 50px;
    }

    & iframe{
        width: 100%;
        height: 500px;
    }

    &__Form{
        grid-area: form;
        transform: translateY(-50);
    }

    &__Titulo{
        padding-bottom: 30px;
        font-size: 20px;
    }

    &__Labels{
        padding-bottom: 5px;
        font-size: 16px;      
    }

    &__Input{
        height: 25px;
        width: 300px;
    }

    &__Suscribirse{
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 16px;
        font-weight: bold;
    }

    &__Checkbox{
        padding-top: 10px ;
    }

    &__Botones{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    & button {
        text-align: center;
        position: relative;
        background: $azulclaro;
        color: $blanco;
        border-radius: 3px;
        border: 1px solid $azulclaro;
        border-color: $azulclaro;
        width: 120px;
        height: 40px;
        margin-top: 20px;
        font-size: 14px;
        margin-left: 10px;

        border: none;
        cursor: pointer;
        outline: none;

        &:hover{
            transition: all 1s;
            background-color:$azulclarohover;
            color: $blanco;
        }
    }

}

/* Elimina las flechas del campo telefono */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Boton checkbox con slide */

.toggle {
    --width: 50px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;

    &__input{
        display: none;
    }

    &__fill{
        position: relative;
        width: var(--width);
        height: var(--height);
        border-radius: var(--border-radius);
        background: #dddddd;
        transition: background 0.2s;
    }

    &__input:checked ~ &__fill{
        background: linear-gradient(90deg, rgba(89,207,56,1) 0%, rgba(27,224,27,1) 4%, rgba(136,219,112,1) 71%);
    }

    &__fill::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: var(--height);
        width: var(--height);
        background: $blanco;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: var(--border-radius);
        transition: transform 0.2s;
    }

    &__input:checked ~ &__fill::after{
        transform: translateX(var(--height));
    }
}

/* Fin boton Checkbox */

/* FIN CSS Contacto */