
.footer{
    width: auto;
    /* max-width: 1200px; */
    height: 100px;
    justify-content: space-between;
    background-image: map-get($map:$paleta, $key:'uno');
    margin-top: 50px;

    .footerDiv{
        display: flex;
        justify-items: right;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        width: auto;
        /* max-width: 1200px; */

        button{
        text-align: center;
        background: map-get($map:$paleta, $key:'dos');
        color: map-get($map:$paleta, $key:'tres');
        border-radius: 25px;
        width: 100px;
        height: 40px;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.2), 2px 2px 6px 0 rgba(61, 59, 59, 0.8);
    
        &:hover{
            transition: 1s;
        box-shadow: inset -2px -2px 6px 0 rgba(255, 255, 255, 0.2), inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8);
        background-color: #3a3881;
        color:map-get($map:$paleta, $key:'tres');
        }
    }
    }

    .footer__iconos{
        color: rgb(8, 0, 51);
        background-color:map-get($map:$paleta, $key:'dos'); /*Color de fondo*/
        width: 50px; /*Tamaño del cuadro contenedor*/
        height: 50px;
        display: flex;
        text-align: right;
        list-style: none;
        justify-content: center;
    }

    /* Configuracion del boton y su comportamiento */
    
    .footerOrden{
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }
}

footer{
    div{
        display: flex;
    }
}

.social-menu {
    .social-menulista {
        /* transform: translate(-50%, -50%); */
        padding: 0;
        display: flex;
    }

    ul{
        li{
            list-style: none;
            margin: 0 10px; 

            .fa{
                color: #000000;
                font-size: 25px;
                line-height: 50px;
                transition: .5s;
                
                &:hover{
                    color: map-get($map:$paleta, $key:'tres');
                }
            }

            a {
                position: relative;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: map-get($map:$paleta, $key:'tres');
                text-align: center;
                transition: 0.5s;
                transform: translate(0,0px);
                box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
                
                &:hover {
                    transform: rotate(0deg) skew(0deg) translate(0, -10px);
                }
            }

            &:nth-child(1){
                a:hover{
                    background-color:map-get($map:$paleta, $key:'cinco');
                }
            }
            &:nth-child(2){
                a:hover{
                    background-color: map-get($map:$paleta, $key:'seis');
                }
            }
            &:nth-child(3){
                a:hover{
                    background: map-get($map:$paleta, $key:'siete');
                }
            }
            &:nth-child(4){
                a:hover{
                    background-color:map-get($map:$paleta, $key:'ocho');
                }
            }
            &:nth-child(5){
                a:hover{
                    background-color: map-get($map:$paleta, $key:'nueve');
                }
            }
        }
    }

}