/*Configuracion de Banner con imagenes*/

.banner {
    &__Fondo {
        background-color: map-get($map:$paleta, $key:'dos'); /*Color de fondo*/
        width: auto; /*Tamaño del cuadro contenedor*/
        /* max-width: 1200px; */
        height: 350px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        }

    &__alinearImagenes {
        grid-area: 1 / 1 / -3 / 6 ;
        align-self: center;
        }

    &__Imagen1{
        width: 250px;
        height: 150px;
        margin-top: 50px;
        
        }
    &__Imagen2{
        width: 250px;
        height: 150px;
        margin-top:50px;
        margin-left: 10px;
        }
    &__Imagen3{
        width: 250px;
        height: 150px;
        margin-top:50px;
        margin-left: 10px;
        }

    /* Texto en el banner */
    &__alinearH1 {
        grid-area: 2 / 1 / -2 / 6 ;
        align-self: center;
    }

    &__Fondo h1 {
        text-align: center;
        padding-top: 20px;
        color: $blanco;
    }

    /* Configuracion de boton y su comportamiento  */
    &__alinearButton {
        grid-area: 3 / 1 / -1 / 6 ;
        align-self: center;
    }
}


/*Seccion Media de la pagina*/

.main {

    &__Fondo {
        margin: auto;
        background-color: $blanco; /*Color de fondo*/
        width: auto; /*Tamaño del cuadro contenedor*/
        max-width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(9, auto);
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        "imgindices imgindices tittxtindices tittxtindices tittxtindices"
        "imgindices imgindices tittxtindices tittxtindices tittxtindices"
        ". . . . ."
        "tittxtproductividad tittxtproductividad tittxtproductividad imgprod imgprod"
        "tittxtproductividad tittxtproductividad tittxtproductividad imgprod imgprod"
        ". . . . ."
        "imghoras imghoras tittxthoras tittxthoras tittxthoras"
        "imghoras imghoras tittxthoras tittxthoras tittxthoras"
        "btnservicio btnservicio btnservicio btnservicio btnservicio"
        ;
    }

    &__TituloIndices {
        justify-self: flex-start;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 900;
        width: 90%;
    }

    &__TextoIndices {
        height: 40px;
        width: auto;
        justify-self: left;
        text-align: left;
        width: 80%;
    }

    &__TxtImgOrdenIndices{
        grid-area: tittxtindices;
    }


    /* Bar Graph Vertical */
    .bar-graph .year {
        -webkit-animation: fade-in-text 2.2s 0.1s infinite alternate;
        -moz-animation: fade-in-text 2.2s 0.1s infinite alternate;
        animation: fade-in-text 2.2s 0.1s infinite alternate;
    }

    .bar-graph-vertical {
        margin-top: 80px;
        max-width: 680px;
        grid-area: imgindices
    }

    .bar-graph-vertical .bar-container {
        float: left;
        height: 150px;
        margin-right: 8px;
        position: relative;
        text-align: center;
        width: 40px;
    }

    .bar-graph-vertical .bar {
        border-radius: 3px;
        bottom: 40px;
        position: absolute;
        width: 40px;
    }

    .bar-graph-vertical .year {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .bar-graph-two .bar::after {
        -webkit-animation: fade-in-text 2.2s 0.1s forwards;
        -moz-animation: fade-in-text 2.2s 0.1s forwards;
        animation: fade-in-text 2.2s 0.1s forwards;
        color: $blanco;
        content: attr(data-percentage);
        font-weight: 700;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: left;
        top: 24px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .bar-graph-two .bar-one .bar {
        background-color: $graficabarras;
        -webkit-animation: show-bar-one-vertical 2s 0.1s infinite alternate;
                animation: show-bar-one-vertical 2s 0.1s infinite alternate;
        -moz-animation: show-bar-one-vertical 2s 0.1s infinite alternate;
    }

    .bar-graph-two .bar-two .bar {
        background-color: $graficabarras;
        -webkit-animation: show-bar-two-vertical 2s 0.1s infinite alternate;
                animation: show-bar-two-vertical 2s 0.1s infinite alternate;
        -moz-animation: show-bar-two-vertical 2s 0.1s infinite alternate;
    }

    .bar-graph-two .bar-three .bar {
        background-color: $graficabarras;
        -webkit-animation: show-bar-three-vertical 2s 0.1s infinite alternate;
                animation: show-bar-three-vertical 2s 0.1s infinite alternate;
        -moz-animation: show-bar-three-vertical 2s 0.1s infinite alternate;
    }

    .bar-graph-two .bar-four .bar {
        background-color: $graficabarras;
        -webkit-animation: show-bar-four-vertical 2s 0.1s infinite alternate;
                animation: show-bar-four-vertical 2s 0.1s infinite alternate;
        -moz-animation: show-bar-four-vertical 2s 0.1s infinite alternate;
    }

    /* Fin de animacion barras */

    /* Animacion Grafica Circular */

    .circle-chart-container {
        clear: left;
        float: left;
        position: relative;
        max-width: 165px;
        width: 100%;
        grid-area: imgprod ;
    }

    .circle-chart {
        overflow: visible;
    }

    .circle-chart-circle {
        animation: circle-chart-fill 3s infinite alternate;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transform-origin: center;
    }

    .circle-chart-two {
        left: 6%;
        max-width: 88%;
        position: absolute;
        top: 6%;
    }

    .circle-chart-three {
        left: 12%;
        max-width: 75%;
        position: absolute;
        top: 12%;
    }

    .circle-chart-percentage {
        -webkit-animation: fade-in-text 2.2s 0.1s forwards;
        -moz-animation: fade-in-text 2.2s 0.1s forwards;
        animation: fade-in-text 2.2s 0.1s forwards;
        font-size: 22px;
        font-weight: 700;
        position: absolute;
    }

    .circle-chart-one-percentage {
        color:#64B2D1 ;
        left: 65px;
        top: 40px;
    }

    .circle-chart-two-percentage {
        color: #5292AC;
        left: 40px;
        top: 70px;
    }

    .circle-chart-three-percentage {
        color: #061246;
        left: 70px;
        top: 100px;
    }

    /* Fin animacion grafica circular */

    &__TituloProductividad {
        justify-self: left;
        text-align: start;
        margin-bottom: 10px;
        font-weight: 900;
        width: 90%;
    }

    &__TitTxtProductividad{
        grid-area: tittxtproductividad;
        text-align: left;
        width: 80%;
    }

    /* Reloj */

    .clock {
        grid-area: imghoras;
        position: relative;
        height: 170px;
        width: 170px;
        background-color: $blanco;
        border-radius: 100%;
        border: 10px solid #08407f;
        margin-top: 20px;
    }

    .clock .top {
        position: absolute;
        width: 3px;
        height: 8px;
        background-color: $gris;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .clock .right {
        position: absolute;
        width: 8px;
        height: 3px;
        background-color: $gris;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .clock .bottom {
        position: absolute;
        width: 3px;
        height: 8px;
        background-color: $gris;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
    .clock .left {
        position: absolute;
        width: 8px;
        height: 3px;
        background-color: $gris;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    .clock .center {
        height: 6px;
        width: 6px;
        background-color: $gris;
        border-radius: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .clock .shadow {
        background:linear-gradient(rgba(0, 0, 0, 0), 
                                    rgba(0, 0, 0, 0.2));
        height: 170px;
        width: 170px;
        position: absolute;
        border-radius: 100%;
        transform: rotate(360deg);
    }
    .clock .hour {
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 3600s infinite linear;
    }
    .clock .hour:before {
        content: "";
        height: 60px;
        width: 3px;
        background-color: $gris;
        position: absolute;
        top: 30px;
    }

    .clock .minute {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 360s infinite linear;
    }
    .clock .minute:before {
        position: absolute;
        content: "";
        background-color: #262626;
        height: 40px;
        width: 1px;
        top: 50px;
    }
    .clock .second {
        width: 2px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 15s infinite linear;
    }
    .clock .second:before {
        position: absolute;
        content: "";
        background-color: $rojo;
        height: 45px;
        width: 2px;
        top: 45px;
    }

    /* Fin Reloj */

    &__TituloHoras {
        justify-self: left;
        text-align: start;
        margin-bottom: 10px;
        font-weight: 900;
        width: 90%;
    }


    &__TextoHoras {
        justify-self: left;
        text-align: left;
    }

    &__TxtImgOrdenHoras{
        grid-area: tittxthoras;
        width: 80%;
        margin: auto;
    }

    &__DivBotonServicio{
        width: auto;
        grid-area: btnservicio ;
        align-self: center;
        margin-top: 60px;
    }

    & button{
        text-align: center;
        position: relative;
        background: $azulclaro;
        color: $blanco;
        border-radius: 3px;
        border: 1px solid $azulclaro;
        border-color: $azulclaro;
        width: 120px;
        height: 40px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover {  
            transition: all 1s;
            background-color:$azulclarohover;
            color: $blanco;
        }
    }

    .mainOrden{
        text-align: left;
        width: auto;
    }

    &__TituloIndicesReverse {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row-reverse;
        font-weight: 900;
        width: 100%;
    }

    .mainOrdenInvertido{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 20px;
    }

}

/* Fin CSS Index */