.gridNosotros {
    margin: auto;
    background-color: $FondoGridNosotros; /*Color de fondo*/
    width: auto; /*Tamaño del cuadro contenedor*/
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "banner"
    "titulo"
    "texto"
    "boton"
    ;

    .bannerFondoEmpresa {
        grid-area: banner;
        height: 600px;
        width: 100%;
    }

    .tituloNosotros {
        grid-area: titulo;
        font-family: 'Roboto', sans-serif;
        font-size: 57px;
        padding-top: 40px;
    }

    .textoNosotros{
        grid-area: texto;
        height: auto;
        width: 90%;
        padding-top: 40px;
    }

    .botonNosotros{
        text-align: center;
        position: relative;
        background: rgb(0, 82, 204);
        color: #ffffff;
        border-radius: 3px;
        border: 1px solid #0052cc;
        border-color: rgb(0, 82, 204);
        width: 120px;
        height: 40px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        outline: none;
        margin-top: 30px;

        &:hover {  
            transition: all 1s;
            background-color:#023888;
            color: #ffffff;
        }
    }
    
    
    
    
}

