.gridNosotros {
    margin: auto;
    background-color: $FondoGridNosotros; /*Color de fondo*/
    width: auto; /*Tamaño del cuadro contenedor*/
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "banner"
    "titulo"
    "texto"
    "boton"
    ;

    .bannerFondoEmpresa {
        grid-area: banner;
        height: 600px;
        width: 100%;
    }

    .tituloNosotros {
        grid-area: titulo;
        font-size: 200%;
        font-family: 'Roboto', sans-serif;
        font-size: 57px;
        padding-top: 40px;
    }

    .textoNosotros{
        grid-area: texto;
        height: auto;
        width: 90%;
        padding-top: 40px;
    }

    .botonNosotros{
        text-align: center;
        background: #030335;
        color: #ffffff;
        border-radius: 25px;
        width: 100px;
        height: 40px;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: -2px -2px 6px 0 rgba(255, 255, 255, 0.2), 2px 2px 6px 0 rgba(61, 59, 59, 0.8);
        grid-area: boton;
        margin-top: 40px;

        &:hover {
            transition: 1s;
            box-shadow: inset -2px -2px 6px 0 rgba(255, 255, 255, 0.2), inset 2px 2px 6px 0 rgba(0, 0, 0, 0.8);
            background-color: #3a3881;
            color: #ffffff;
        }
    }
}

