/* CSS  Servicios*/

.bannerServicios {
    width: 100%;
    height: 500px;
}

.gridServicios {
    margin: auto;
    background-color: $blanco; /*Color de fondo*/
    width: 70%; /*Tamaño del cuadro contenedor*/
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(50%));
    grid-template-rows: repeat(5, auto);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "titulo titulo"
    "indice videoindice"
    "prod videoprod"
    "analisis videoanalisis";

    & iframe{
        width: 450px;
        height: 250px;
    }

    &__Titulo{
        grid-area: titulo;
        font-size: 30px;
        padding-top: 30px;
    }

    &__Subtitulos{
        margin-bottom: 10px;
    }

    &__ParrafoIndice{
        grid-area: indice;
        margin-right: 20px;
    }

    &__VideoIndice{
        grid-area: videoindice;
        margin-top: 30px;
    }

    &__ParrafoProd{
        grid-area: prod;
        margin-right: 20px;
    }

    &__VideoProd{
        grid-area: videoprod;
        margin-top: 30px;
    }

    &__ParrafoAnalisis{
        grid-area: analisis;
        margin-right: 20px;
    }

    &__VideoAnalisis{
        grid-area: videoanalisis;
        margin-top: 30px;
    }

}



/* Fin CSS Servicios */